/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
sdk/nodejs/node_modules

**/command-output/

.idea/
*.iml
nuget/

yarn.lock
**/.DS_Store
.vscode/
*.log

**/schema-embed.json
**/version.txt
pulumi-eventstorecloud.sln

node_modules
